<div class="col-sm-6 col-md-4"> 
  <div class="thumbnail">
    <div><%= image_tag post.picture.url(:medium) %></div>
    <div class="caption">
      <p class="badge"><%= timestamp(post.created_at) %></p>
      <h3><%= post.description %></h3>
      <p>
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tag %> <!-- or use tag_path(tag) or tag_path(id: tag.id) or   -->
        <% end %>
      </p>
      <p><%= pluralize post.comments.count, 'comment' %></p>
      <p><i class="fa fa-user"></i> <%= post.user.username  %></p>
      <p><%= link_to 'Add a comment', new_post_comment_path(post), class: 'btn btn-primary' %>
        <%= link_to 'Delete', post_path(post), method: :delete, class: 'btn btn-danger' %>
        <%= link_to 'Buy', new_post_charge_path(post), class: 'btn btn-info' %>
      </p>
    </div> 
  </div>
</div>

